#calculator {
    width: 296px;
    border-bottom: 2px #6f6f6f solid;
    border-bottom-color: #F0EBE3;
    background-color: #F0EBE3;
}
body {
    background-color: #E4DCCF;
}
table {
    margin: auto;
    background-color: #576F72;
    width: 295px;
    max-width: 295px;
    height: 325px;
    text-align: center;
    border-radius: 4px;
    padding-right: 10px;
    border-color: #7D9D9C;
}
input{
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: 0;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px rgba(red, green, blue, 0.2);
    margin-bottom: 15px;
}
input:hover{
    border: 0 solid#000;
    color: #495067;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: 0 4px #b0d2cf;
}
input :active {
    top: 4px;
    border: 0 solid #000;
    color: #495067;
    background-color: #fff;
    border-radius: 4px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 20px;
    box-shadow: none;
}
#display {
    width: 265px;
    max-width: 270px;
    font-size: 50px;
    text-align: right;
    background-color: #bcbd95;
    float: left;
}
h3 {
    text-align: center;
    color: #0d036b;
}